@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,300;1,400;1,600&family=Quicksand&family=Roboto:wght@300;400;500&display=swap');
*,
 ::before,
 ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* This is color Roots  */

:root {
    --heading: rgb(0 10 45);
    --para: #777;
    --para-tine: #e4e4e4;
    --white: #fff;
    --block: #212529;
    --helper: #8490ff;
    --helper-tint: #f3f4ff;
    --bg: rgb(249 249 255);
    --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
    --gradientSupport: -webkit-linear-gradient(0deg, rgb(132 144 255)0%, rgb(98 189 252)100%);
    --shadow: 0px 0px 20px 0px rgb(132 144 255 / 20%);
    --shadowSupport: 0px 20px 20px 0px rgb(132 144 255 /30%);
    --gra: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 45%, rgba(0, 212, 255, 1) 100%);
}

html {
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    /* 1rem = 10px normally 16px */
}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: var(--heading);
    font-size: 4rem;
    font-weight: 600;
}

h3 {
    font-size: 1.8rem;
    font-weight: 400;
}

p {
    color: var(--para);
    line-height: 1.6;
    font-size: 1.7rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/* ---------------- Header Section Start---------------------- */

.header {
    padding: 0 4.8rem;
    height: 10rem;
    background-color: var(--bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--heading);
    font-size: 2rem;
    font-weight: 400;
    background-color: var(--block);
    color: var(--white);
    padding: 10px;
}

.navbar-lists {
    display: flex;
    gap: 4.8rem;
}

.navbar-link:link,
.navbar-link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--block);
    /* font-family: 'Poppins', sans-serif; */
    transition: all 0.3s linear;
}

.navbar-link:hover,
.navbar-link:active {
    color: var(--helper);
}


/* ---------------- Resuable Code Section---------------------- */

.section {
    padding: 9rem 0px;
}

.container {
    max-width: 140rem;
    /* to make the container center both side */
    margin: 0 auto;
}

.grid {
    display: grid;
    gap: 9rem;
}

.grid-two-column {
    /* grid it's mean that i have repeat 2 times */
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-columns: 1fr 1fr; */
}

.btn {
    /* background-color: var(--gradientSupport); */
    background-color: var(--gra);
    /* background-color: black; */
    padding: 1.6rem 3.2rem;
    border: none;
    color: var(--helper-tint);
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    /* frefix for all the browers to supports for transtaion animation scales etc ...*/
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
}

.btn:hover,
.btn:active {
    box-shadow: var(--shadowSupport);
}


/* ---------------- Hero Section Start---------------------- */

.section-hero {
    background-color: var(--bg);
}

.section-hero-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-top-data {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    color: var(--helper);
}

.hero-heading {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 6.4rem;
}

.hero-para {
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    max-width: 60rem;
}

.section-hero-image {
    display: flex;
    justify-content: center;
    align-items: centers;
}

.hero-image {
    max-width: 80%;
}